body {
    font-weight: 300;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0px;
    background-color: rgba(232, 225, 211, 1); 
    color: #333333;
    /*行間のスペースを制御*/
    line-height: 240%;
}

/* ナビゲーションの背景の色を設定 */
.bg-white {
    background-color: rgba(232, 225, 211, 0.5) !important;
}

/* ナビゲーションの文字の色を設定 */
.navbar-light {
    color: white !important;
}

/* 
スクロールしたら文字の色を変えよう！
color: black !important;
って感じ！
kuroの子孫要素のnavbar-lightのみ色を制限
*/

.kuro .navbar-light {
    color: black !important;
}


/* 文字のサイズ */
.moji {
    font-weight: bold;
}

/* 文字を消しておく */
.fadein-area {
    /* 最初は見えなくしておく */
    opacity: 0;
    /* 下から上にフワッと出るようにあらかじめ少し下にずらして配置 */
    transform: translate(50px, 0px);
}

/* スクロールした際にフェードイン */
.add-fadein {
    opacity: 1;
    transform: translate(0, 0);
    /* どれくらいの時間でフェードインさせるか */
    transition-duration: 1000ms;
    /* 何をフェードインさせるか */
    transition-property: opacity, transform;
}

/* transformではみ出た余白をhiddenで隠してる！
めっちゃ大事！ */
.toufu-wrap {
    overflow: hidden;
}